
:root{
    --font: 'Montserrat', sans-serif;
    --dark-cyan: hsl(158, 36%, 37%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
    --cream: hsl(30, 38%, 92%);
}
body{
    background: var(--cream);
    font-size: 14px;
    *{
        max-width: 375px;
    }
}
.card{
    background: var(--white);
    max-width: 375px;
    margin: 50px auto;
    border-radius: 20px;
    .desk-img{
        display: none;
    }
    .left{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        width: 375px;
    }
    .content{
        color: hsl(228, 12%, 48%);
        margin: auto;
        padding: 20px;
        .head{
            font-family: var(--font);
            font-size: 1.5em;
            font-weight: 500;

        }
        .headBold{
            font-weight: bold;
            color: black;
        }
        p{
            font-family: var(--font);
        }
        .weight{
            font-family: serif;
            font-size: 2em;
            font-weight: 700;
            color: var(--dark-cyan);
            margin-right: 20px;
        }
        .btn{
            text-align: center;
            background: var(--dark-cyan);
            padding: 20px;
            border-radius: 10px;
            .btn-link{
                text-decoration: none;
                color: var(--white);
            }
        }
        .btn:hover{
            background-color: var(--dark-grayish-blue);
        }
    }



@media (min-width: 800px){
.card{
    display: flex;
    max-width: fit-content;
    .desk-img{
        display: block;
         border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .left{
        display: none;
    }

}
}
}